
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" link>

    <title>API NASA</title>
</head>
<body>
    <div class="container">
    <h1 class=" text-center m-4">API NASA </h1>
    <div class="grid gap-3">
        <div class="p-2 g-col-6 bg-primary-subtle border border-primary-subtle rounded-3 my-2  ">{"copyright":"Lyman Insley","date":"2023-02-06","explanation":"In the heart of the Rosette Nebula lies a bright cluster of stars that lights up the nebula.  </div>
        <button type="button" class="btn btn-outline-primary">pulsame</button>
        <div class="p-2 g-col-6 bg-primary-subtle border border-primary-subtle rounded-3 my-2">The stars of NGC 2244 formed from the surrounding gas only a few million years ago. </div>
       
    </div>
      <div class="grid gap-3 ">
        <div class="p-2 g-col-6 bg-primary-subtle border border-primary-subtle rounded-3 my-2"> The featured image taken in mid-January using multiple exposures and very specific colors of Sulfur (shaded red), Hydrogen (green), and Oxygen (blue), captures the central region in tremendous detail. </div>
        <button type="button" class="btn btn-outline-primary">Success</button>
        <div class="p-2 g-col-6 bg-primary-subtle border border-primary-subtle rounded-3 my-2">A hot wind of particles streams away from the cluster stars and contributes to an already complex menagerie of gas and dust filaments while slowly evacuating the cluster center.  </div>
      </div>
      <div class="grid gap-3 ">
        <div class="p-2 g-col-6 bg-primary-subtle border border-primary-subtle rounded-3 my-2"> The Rosette Nebula's center measures about 50 light-years across, lies about 5,200 light-years away, and is visible with binoculars towards the constellation of the Unicorn (Monoceros). </div>
        <button type="button" class="btn btn-outline-primary">Success</button>
        <div class="p-2 g-col-6 bg-primary-subtle border border-primary-subtle rounded-3 my-2"> Your Sky Surprise: What picture did APOD feature on your birthday? (post 1995)","
            hdurl":"https://apod.nasa.gov/apod/image/2302/Rosette_Insley_3424.jpg",
            "media_type":"image","service_version":"v1","title":"In the Heart of the Rosette Nebula","url":"https://apod.nasa.gov/apod/image/2302/Rosette_Insley_960.jpg"}</div>
      </div>


    
</body>
<script src="main.js"></script>

</html>
