<header class="navbar navbar-expand-lg bd-navbar sticky-top p-4 mb-2 bg-info text-emphasis-info text-center row">
  <div class="col-md-4 d-flex">
    <div class="col-md-4 border-end">
      <a class="navbar-brand text-white fs-3" href="#">ToDo List</a>
    </div>
    <div class="col-md-5 text-white"> 4 Incompleted Tasks <br> Thursday 06, June 2019</div>
  </div>

  <div class="col-md-4 ms-auto d-flex">
    <div class="col-md-5"><button type="button" class="btn btn-info text-white">Incomplete Tasks</button> </div>
    <div class="col-md-4"><button type="button" class="btn btn-info text-white ">Complete Tasks</button></div>
  </div>
</header>

<section id="new-task" class="px-5 bg-white m-auto py-4 w-50 mt-5 shadow-sm ">
  <p class="fw-bold fs-3">
    New Task
  </p>
<form action="#" class="needs-validation" id="form">
    <div class="mb-3 row">
      <div class="col">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title">
      </div>
      <div class="col">
        <label for="limit" class="form-label">Limit Date</label>
        <input type="text" class="form-control " id="limit">
      </div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control cont" id="description"></textarea>
    </div>
    <div class="d-flex justify-content-end buttons">
      <button type="button" class="btn btn-light px-4 py-2 me-sm-3 justify-content-end btn-cancel">Cancel</button>
      <button type="button" class="btn btn-info px-4 py-2 mb-3 mb-sm-0 justify-content-end btn-add">Create Task</button>
    </div>
  </form>
</section>

